<div class="tools__section">
  <h2 class="tools__tiles-header"><%= I18n.t('tools.link_tiles_bottom.header') %></h2>

  <link-tiles
    :config="<%= @link_tiles_bottom.to_json %>"
  >
  </link-tiles>
</div>
