<header class="factsheet-header__wrapper">
  <%= render "layouts/nav" %>
  <div class="factsheet-header section-padding--top bg-img bg-image-overlay">
    <div class="gutters--large">
        <h1 class="narrow-title--large header__title"><%= title %></h1>
        <p class="factsheet-header__intro header__intro"><%= description %></p>
    </div>
  </div>
</header>