@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto+Serif&family=Roboto:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-auto;

  scrollbar-color: rgb(163 163 163 / var(--tw-bg-opacity)) rgb(229 229 229 / var(--tw-bg-opacity));
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @apply w-1
      h-1;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400
      rounded;

    &:hover {
      @apply bg-gray-500;
    }
  }
}

@layer base {
  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }

  p {
    @apply text-t1;
  }

  input {
    @apply text-t1;
  }

  small {
    @apply text-t0;
  }
}

@layer components {
  .t-button {
    @apply
      inline-block
      text-t1
      font-bold
      p-3
      border-2
      md:px-14
      rounded-full
      disabled:bg-theme-blueLight
      disabled:border
      disabled:border-theme-blueLight
      disabled:cursor-not-allowed
      disabled:text-theme-gray
      transition
      duration-100
      ease-in-out
      focus:border-blue-600
      focus:outline-none
      focus:ring-2
      focus:ring-blue-600
      focus:ring-opacity-50;
  }

  .t-button--small {
    @apply
      text-t0
      p-2
      font-normal;
  }

  .t-button--default {
    @apply
      text-white
      bg-theme-blueDark
      border-white
      hover:bg-theme-blue;
  }

  .t-button--secondary {
    @apply
      text-black
      bg-white
      border-theme-blueDark
      hover:text-blue-400;
  }

  .t-button--danger {
    @apply
      text-white
      bg-red-500
      border-red-500
      hover:bg-red-600;
  }

  .t-button--success {
    @apply
      text-white
      bg-emerald-500
      border-emerald-500
      hover:bg-emerald-600;
  }

  .t-link {
    @apply
      text-theme-blueDark
      underline
      font-bold
      transition
      duration-100
      ease-in-out
      focus:border-blue-600
      focus:outline-none
      focus:ring-2
      focus:ring-blue-600
      focus:ring-opacity-50
      hover:text-theme-blueDark;
  }

  .t-modal {
    @apply
      z-40
      overflow-auto
      w-full
      h-full
      fixed
      bg-black/25
      items-center
      justify-center
      p-1
      lg:p-11;

    &__wrapper {
      @apply
        relative
        max-w-2xl
        w-full
        h-full
        mx-auto
        z-50
        rounded
        bg-white;
    }

    &__modal {
      @apply
        flex
        flex-col
        h-full
        items-center
        overflow-visible
        p-2
        relative
        w-full
        max-w-2xl
        lg:p-4;
    }

    &__body {
      @apply
        mx-auto
        p-6
        w-[calc(100%-2rem)]
        h-[calc(100%-2rem)]
        overflow-y-auto;
    }

    &__close {
      @apply
        flex
        place-self-end
        p-2
        rounded-full
        transition
        duration-100
        ease-in-out
        focus:ring-2
        focus:ring-blue-600
        focus:outline-none
        focus:ring-opacity-50
        hover:bg-slate-100;
    }

    &__close-icon {
      @apply
        w-8
        h-8
        text-theme-blue;
    }
  }

  .t-dropdown {
    @apply
      block
      shadow-sm
      px-4
      py-2
      text-white
      transition
      duration-100
      ease-in-out
      bg-theme-blue
      border
      border-transparent
      hover:bg-theme-blue
      focus:border-theme-blue
      focus:ring-2
      focus:ring-theme-blue
      focus:outline-none
      focus:ring-opacity-50
      disabled:opacity-50
      disabled:cursor-not-allowed;

    &__wrapper {
      @apply
        inline-flex
        flex-col;
    }

    &__dropdown-wrapper {
      @apply
        relative
        z-10;
    }

    &__dropdown {
      @apply
        absolute
        bg-white
        border
        border-theme-blue
        left-0
        mt-1
        origin-top-left
        rounded
        shadow
        w-full;
    }

    &--enter {
      @apply
        opacity-0
        scale-95;
    }

    &--enterActive {
      @apply
        transition
        transform
        ease-out
        duration-100;
    }

    &--enterTo {
      @apply
        opacity-100
        scale-100;
    }

    &--leave {
      @apply
        opacity-100
        scale-100;
    }

    &--leaveActive {
      @apply
        transition
        transform
        ease-in
        duration-75;
    }

    &--leaveTo {
      @apply
        opacity-0
        scale-95;
    }
  }

  .t-account-dropdown {
    @apply
      block
      shadow-sm
      px-4
      py-2
      text-white
      transition
      duration-100
      ease-in-out
      bg-theme-blue
      border
      border-transparent
      hover:bg-theme-blue
      focus:border-theme-blue
      focus:ring-2
      focus:ring-theme-blue
      focus:outline-none
      focus:ring-opacity-50
      disabled:opacity-50
      disabled:cursor-not-allowed;

    &__wrapper {
      @apply
        inline-flex
        flex-col;
    }

    &__dropdown-wrapper {
      @apply
        relative
        z-10;
    }

    &__dropdown {
      @apply
        absolute
        bg-white
        left-0
        mt-5
        origin-top-left
        rounded
        shadow
        w-full;
    }

    &--enter {
      @apply
        opacity-0
        scale-95;
    }

    &--enterActive {
      @apply
        transition
        transform
        ease-out
        duration-100;
    }

    &--enterTo {
      @apply
        opacity-100
        scale-100;
    }

    &--leave {
      @apply
        opacity-100
        scale-100;
    }

    &--leaveActive {
      @apply
        transition
        transform
        ease-in
        duration-75;
    }

    &--leaveTo {
      @apply
        opacity-0
        scale-95;
    }
  }

  .t-input-group {
    &__label {
      @apply block ml-4 text-t1 mb-3;

      &--danger {
        @apply text-red-400;
      }

      &--success {
        @apply text-emerald-400;
      }
    }

    &__body {
      @apply text-t1;
    }

    &__feedback {
      @apply text-t0;

      &--default {
        @apply text-neutral-400;
      }

      &--danger {
        @apply text-red-400;
      }

      &--success {
        @apply text-emerald-400;
      }
    }

    &__description {
      @apply text-neutral-400 text-t0;
    }
  }

  .t-input {
    @apply
      block
      w-full
      px-4
      py-2
      border
      rounded-full
      shadow-sm
      transition
      duration-100
      ease-in-out
      focus:ring-2
      focus:ring-blue-500
      focus:outline-none
      focus:ring-opacity-50
      disabled:opacity-50
      disabled:cursor-not-allowed;

    &--default {
      @apply
        text-black
        placeholder-neutral-400
        bg-white
        border-theme-blue
        focus:border-theme-blueDark;
    }

    &--danger {
      @apply
        border-red-300
        bg-red-50
        placeholder-red-200
        text-red-900;
    }

    &--success {
      @apply
        border-emerald-300
        bg-emerald-50
        placeholder-neutral-400
        text-emerald-900;
    }
  }

  .t-alert {
    @apply
      relative
      flex
      items-center
      text-t1
      p-6
      border-l-8
      border-t-0;

    &--default {
      @apply bg-theme-blueSemiLight
        border-theme-blueDark;
    }

    &--danger {
      @apply bg-theme-pink
        border-theme-red;
    }

    &--success {
      @apply bg-green-50
        border-green-500;
    }

    &__body {
      @apply flex-grow;
    }

    &__close {
      @apply
        relative
        flex
        items-center
        justify-center
        ml-4
        flex-shrink-0
        w-6
        h-6
        transition
        duration-100
        ease-in-out
        rounded
        focus:ring-2
        focus:ring-blue-500
        focus:outline-none
        focus:ring-opacity-50;

      &--default {
        @apply text-blue-500 hover:bg-blue-200;
      }

      &--danger {
        @apply text-red-500 hover:bg-red-200;
      }

      &--success {
        @apply text-green-500 hover:bg-green-200;
      }
    }

    &__close-icon {
      @apply
        fill-current
        h-4
        w-4;
    }
  }
}

.t-rich-select {
  @apply relative;

  &__buttonWrapper {
    @apply inline-block
      relative
      w-full;
  }

  &__selectButton {
    @apply w-full
      flex
      text-left
      justify-between
      items-center
      px-3
      py-2
      text-black
      transition
      duration-100
      ease-in-out
      border
      rounded-full
      shadow-sm
      focus:border-blue-500
      focus:ring-2
      focus:ring-blue-500
      focus:outline-none
      focus:ring-opacity-50
      disabled:opacity-50
      disabled:cursor-not-allowed;

    &--default {
      @apply bg-white
        border-theme-blue;
    }

    &--danger {
      @apply border-red-300
        bg-red-50
        text-red-900;
    }

    &--success {
      @apply border-green-300
        bg-green-50
        text-green-900;
    }
  }

  &__selectButtonLabel {
    @apply block
      truncate;
  }

  &__selectButtonTagWrapper {
    @apply flex
      flex-nowrap
      space-x-1
      overflow-x-hidden;
  }

  &__selectButtonTag {
    @apply flex
      items-center
      space-x-1
      rounded-full
      bg-theme-blue
      text-white
      px-2;
  }

  &__selectButtonTagText {
    @apply whitespace-nowrap;
  }

  &__selectButtonTagDeleteButton {
    @apply w-4;
  }

  &__selectButtonPlaceholder {
    @apply block
      truncate;

    &--default {
      @apply text-gray-400;
    }

    &--danger {
      @apply text-red-200;
    }
  }

  &__selectButtonIcon {
    @apply transition-transform
      ease-in-out
      rotate-90
      flex-shrink-0
      ml-1
      h-5
      w-5;

    &--active {
      @apply -rotate-90;
    }

    &--default {
      @apply text-theme-blue;
    }

    &--danger {
      @apply text-red-500;
    }

    &--success {
      @apply text-green-500;
    }
  }

  &__selectButtonClearButton {
    @apply rounded-full
      flex
      flex-shrink-0
      items-center
      justify-center
      absolute
      right-0
      top-0
      m-2
      h-6
      w-6
      transition
      duration-100
      ease-in-out;

    &--default {
      @apply bg-theme-gray
        text-white
        hover:bg-theme-blueDark;
    }

    &--danger {
      @apply hover:bg-red-200
        text-red-500;
    }

    &--success {
      @apply hover:bg-green-200
        text-green-500;
    }
  }

  &__selectButtonClearIcon {
    @apply fill-current
      h-3
      w-3;
  }

  &__dropdown {
    @apply absolute
      text-t1
      w-full
      mt-4
      border
      rounded
      shadow-sm
      z-10;

    &--default {
      @apply bg-white
        border-theme-blue;
    }

    &--danger {
      @apply bg-red-50
        border-red-300;
    }

    &--success {
      @apply bg-green-50
        border-green-300;
    }
  }

  &__dropdownFeedback {
    &--default {
      @apply pb-2
        px-3
        text-gray-400
        text-sm;
    }
  }

  &__loadingMoreResults {
    &--default {
      @apply pb-2
        px-3
        text-gray-400
        text-sm;
    }
  }

  &__optionsList {
    @apply overflow-auto;
  }

  &__searchWrapper {
    @apply inline-block
      w-full;

    &--default {
      @apply p-2
        placeholder-gray-400;
    }
  }

  &__searchBox {
    @apply inline-block
      w-full;

    &--default {
      @apply px-3
        py-2
        bg-gray-50
        text-sm
        rounded
        border
        focus:outline-none
        border-gray-300;
    }
  }

  &__optgroup {
    &--default {
      @apply text-gray-400
        uppercase
        text-xs
        py-1
        px-2
        font-semibold;
    }
  }

  &__option {
    @apply cursor-pointer;
  }

  &__disabledOption {
    @apply opacity-50
      cursor-not-allowed;
  }

  &__highlightedOption {
    @apply cursor-pointer;

    &--default {
      @apply bg-blue-100;
    }
  }

  &__selectedOption {
    @apply cursor-pointer;

    &--default {
      @apply font-semibold
        bg-blue-500
        text-white;
    }
  }

  &__selectedHighlightedOption {
    @apply cursor-pointer;

    &--default {
      @apply font-semibold
        bg-blue-600
        text-white;
    }
  }

  &__optionContent {
    &--default {
      @apply flex
        justify-between
        items-center
        px-3
        py-2;
    }
  }

  &__optionLabel {
    @apply truncate
      block;
  }

  &__selectedIcon {
    @apply fill-current
      h-4
      w-4;
  }
}
