 <%= render partial: 'layouts/nav' %>

<div class="devise">
  <div class="devise__container">
    <new-password-form reset-password-token="<%= params[:reset_password_token] %>"></new-password-form>
  </div>
</div> 