<table width="100%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap" bgcolor="#e1e1e1" style="table-layout:fixed;">
  <tr>
    <td align="center" valign="top"><table align="center" width="796" border="0" cellspacing="0" cellpadding="0" class="em_main_table" style="width:796px;table-layout:fixed;background-color:#000000;" bgcolor="#000000">
        <tr>
          <td align="center" valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="100" style="width:100px;" class="em_side15">&nbsp;</td>
                <td align="center" valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="50" style="height:50px;" class="em_h20"><img src="<%= spacer_src %>" width="1" height="1" alt="" border="0"  style="display:block;"/></td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" mc:edit="text_08" class="em_defaultlink" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;color:#ffffff;">&copy; <%= "#{Date.today.year} #{t('email.footer.copyright')}" %></td>
                    </tr>
                    <tr>
                      <td height="46" style="height:46px;" class="em_h20"><img src="<%= spacer_src %>" width="1" height="1" alt="" border="0"  style="display:block;"/></td>
                    </tr>
                  </table></td>
                <td width="100" style="width:100px;" class="em_side15">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td class="em_hide" style="line-height:1px;min-width:796px;background-color:#ffffff;"><img alt="" src="<%= spacer_src %>" height="1"  width="796" style="max-height:1px;min-height:1px;display:block;width:796px;min-width:796px;" border="0"/></td>
        </tr>
      </table></td>
  </tr>
</table>