<table width="100%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap" bgcolor="#e1e1e1" style="table-layout:fixed;">
  <tr>
    <td align="center" valign="top"><table align="center" width="796" border="0" cellspacing="0" cellpadding="0" class="em_main_table" style="width:796px;table-layout:fixed;background-color:#394314;" bgcolor="#394314">
        <tr>
          <td align="center" valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30" style="width:30px;" class="em_side15">&nbsp;</td>
                <td align="center" valign="top"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="40" style="height:40px;" class="em_h20"><img src="<%= spacer_src %>" width="1" height="1" alt="" border="0"  style="display:block;"/></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" class="em_full_img"><a href="<%= root_url %>" target="_blank" style="text-decoration:none;"><img src="<%= mail_image('ENCORE-Logo-w.png') %>" width="91" alt="ENCORE" height="31" border="0" mc:edit="logo_img"  style="display:block;max-width:91px;font-family:Arial,sans-serif;font-size:10px;line-height:13px;color:#000000;"/></a></td>
                    </tr>
                    <tr>
                      <td height="49" style="height:49px;" class="em_h20"><img src="<%= spacer_src %>" width="1" height="1" alt="" border="0"  style="display:block;"/></td>
                    </tr>
                  </table></td>
                <td width="30" style="width:30px;" class="em_side15">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>