.v-checkbox {
  user-select: none;

  display: flex;

  &__input {
    background-color: $white;
    border: rem-calc(1) solid $sg-grey;
    color: $black;
    content: ' ';
    cursor: pointer;
    font-size: 1rem;
    margin-top: rem-calc(2);
    margin-right: rem-calc(8);
    width: rem-calc(19);
    height: rem-calc(19);

    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    svg {
      width: 50%;
    }
  }
}

.form .v-checkbox,
.v-checkbox {
  &__label {
    margin: 0;
    font-size: rem-calc(16);

    a:not(:hover) {
      text-decoration: underline;
    }
  }
}

.field {
  &--invalid {
    .v-checkbox {
      &__input {
        border-color: $rag-red;
      }
    }
  }
}
