<div class="landing-hero">
  <div class="landing-hero__content">
    <h2 class="landing-hero__title"><%= title %></h2>

    <portfolio-generator-modal :sectors="<%= sectors.to_json %>"></portfolio-generator-modal>
  </div>
</div>
