//--------------------------------------------------
// button - variables
//--------------------------------------------------
$font-size-small: rem-calc(14);
$font-size-medium: rem-calc(16);
$font-size-large: rem-calc(18);

//--------------------------------------------------
// button - mixins
//--------------------------------------------------
@mixin button {
  background-color: transparent;
  border: none;
  border-radius: $radius-button;
  color: $body-font-color;
  cursor: pointer;
  font-size: rem-calc(18);
  font-weight: $bold;
  line-height: 1.25;
  padding: rem-calc(14 28);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
}

@mixin button--no-styles {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-align: left;
}

@mixin button--border {
  @include button;
  background-color: transparent;
  border: $border-thin $sg-grey;
  cursor: pointer;
  padding: rem-calc(13 27);

  &:hover {
    border-width: rem-calc(2);
    padding: rem-calc(12 26);
  }
}

@mixin button--border--small {
  @include button--border;
  @include button--small;
  padding: rem-calc(5 19);

  &:hover {
    border-width: rem-calc(2);
    padding: rem-calc(4 18);
  }
}

@mixin button--green {
  @include button;
  background-color: $sg-green-bright;
}

@mixin button--full {
  width: 100%;
}

@mixin button--small {
  font-size: rem-calc(14);
  padding: rem-calc(6 20);
}

@mixin button--medium {
  font-size: $font-size-small;
  padding: rem-calc(10 20);

  @include breakpoint($small) {
    font-size: $font-size-medium;
    padding: rem-calc(10 28);
  }
}

@mixin button--large {
  font-size: $font-size-medium;
  padding: rem-calc(10 24);

  @include breakpoint($small) {
    font-size: $font-size-large;
    padding: rem-calc(10 32);
  }
}

@mixin button--green {
  @include button;
  background-color: $sg-green-bright;
}

@mixin button--red {
  @include button;
  background-color: $sg-error-red;
  color: $white;
}

@mixin button--white {
  @include button;
  background-color: $white;
  color: $black;
  border: rem-calc(1) solid $sg-grey;
}

@mixin button--dashboard-panel {
  @include appearance-none;
  @include button;

  background-repeat: no-repeat;
  border: $border-regular $black;
  font-size: rem-calc(16);
  padding: rem-calc(8 10);

  display: inline-flex;
  align-items: center;
}

//--------------------------------------------------
// button wrapper
//--------------------------------------------------
.button-wrapper {
  margin: rem-calc(20 0);
  text-align: center;

  &--map-popup {
    margin-bottom: 0;
    margin-top: rem-calc(15);
  }
}

//--------------------------------------------------
// button - resuable styles
//--------------------------------------------------
%button,
.button {
  @include button;

  &--no-styles {
    @include button--no-styles;
  }
}

//--------------------------------------------------
// button - sizes
//--------------------------------------------------
.button {

  &--small {
    @include button--small;
  }

  &--medium {
    @include button--medium;
  }

//--------------------------------------------------
// button - classes
//--------------------------------------------------
  &--unstyled {
    @extend %button--no-styles;
  }

  &--plain {
    @extend %button--no-styles;
    background-color: transparent;
    cursor: pointer;
  }

  &--border {
    @include button--border;
  }

  &--green {
    @include button--green;
  }

  &--grey {
    @extend %button;
    background-color: $sg-grey-dark;
    color: $white;
  }

  &--black {
    @extend %button;
    background-color: $black;
    color: $white;
  }

  &--green-dark {
    @include button;
    background-color: $sg-green-xdark;
    color: $white;
  }

  &[disabled="disabled"] {
    background-color: $sg-grey;
    color: $sg-grey-dark;
    cursor: default;
  }

  &--shadow-light {
    box-shadow: $shadow-light;
  }

  &--shadow-dark {
    box-shadow: $shadow-dark;
  }

  &--arrow {
    &::after {
      @extend .arrow--right;
    }
  }

  &--arrow-down {
    &::after {
      @extend .arrow--down;
      margin-left: rem-calc(6);
    }
  }

  &--arrow-w {
    &::after {
      @extend .arrow--right;
      @extend .arrow-svg--white;
    }
  }

//--------------------------------------------------
// button - margin
//--------------------------------------------------
  &-margin-bottom {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin-top {
    margin-top: rem-calc(14);

    @include breakpoint($small) { margin-top: rem-calc(30); }
  }

  &-margin-left { margin-left: rem-calc(14); }
}
