$color-key-size--mobile: 0.8em;
$color-key-size--tablet: rem-calc(22);

@mixin color-key($color) {
  background-color: $color;
  border-radius: 50%;
  margin-top: (1em - $color-key-size--mobile) / 2;
  margin-right: rem-calc(4);
  width: $color-key-size--mobile;
  height: $color-key-size--mobile;

  display: inline-block;
  flex-shrink: 0;
  
  @include breakpoint($small) {
    border-radius: 0;
    margin-top: 0;
    margin-right: rem-calc(10);
    width: $color-key-size--tablet;
    height: $color-key-size--tablet;
  }
}

.color-key {
  &--a { @include color-key(#D8AF46) }
  &--b { @include color-key(#92B6D8) }
  &--c { @include color-key(#68C7B8) }
  &--d { @include color-key(#C7687E) }
  &--e { @include color-key(#997FDE) }
  &--u { @include color-key(#8296A2) }
  &--supporting { @include color-key(#CECD54) }
  &--not_supporting { @include color-key(#E28C6A) }
  &--not_assessed { @include color-key(#8296A2) }
}