<%= link_to 'https://www.unep-wcmc.org', target: '_blank', title: "#{t('buttons.visit')} UN Environment World Conservation Monitoring Centre" do %>
  <span class="logo--unepwcmc banner__logo banner__logo--faded"></span>
<% end %>
<%= link_to 'https://www.unepfi.org/', target: '_blank', title: "#{t('buttons.visit')} UN Environment - Finance Initiative" do %>
  <span class="logo--unepfi banner__logo"></span>
<% end %>
<%= link_to 'http://globalcanopy.org/', target: '_blank', title: "#{t('buttons.visit')} Global Canopy" do %>
  <span class="logo--gcp banner__logo"></span>
<% end %>