<div class="landing-hero">
  <div class="landing-hero__content">
    <h2 class="landing-hero__title"><%= title %></h2>

    <localised-link
      class="landing-hero__link"
      url="<%= link[:href] %>"
      title="<%= link[:text] %>"
    >
      <%= link[:text] %>
    </localised-link>
  </div>
</div>
